<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="shop">
        <h2>Products</h2>
        <ul>
            <li v-for="(item, key) in productList">{{ item.name }}, cost: ${{ item.price }}
                <button type="button" @click='addToCart(key)'>Add</button>
            </li>
        </ul>
        <h2>Cart</h2>
        <ul>
            <li v-for="(item, key) in cart_list" v-if="item">{{ productList[key].name }}, x{{ item }}. 
                Total: ${{ productList[key].price * item}} 
                <button type="button" @click='removeFromCart(key)'>Remove</button>
            </li>
        </ul>
        <strong>Total: </strong>${{ total }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    <script>
        new Vue ({
            el: "#shop",
            data: {
                productList:  [
                    {
                        name: 'product 1',
                        price: 40
                    },
                    {
                        name: 'product 2',
                        price: 120
                    },
                    {
                        name: 'product 3',
                        price: 230
                    }],
                cart_list: JSON.parse(localStorage.cart || '{}'),
            },
            computed: {
                total: function() {
                    var total = 0;
                    for (var i in this.cart_list) {
                        var prod = this.productList[i];
                        var count = this.cart_list[i];
                        total += prod.price * count;
                    }
                    return total;
                }
            },
            methods: {
                addToCart: function(key){
                    if(void 0 === this.cart_list[key]){
                        this.$set(this.cart_list, key, 1);
                        //this.$set(this.total, this.productList.price);
                    } else {
                        this.cart_list[key]++;
                    }
                    this.saveCart();
                    //console.log(this.cart_list[key]);
                },
                removeFromCart: function(key){
                    this.$delete(this.cart_list, key);
                    //delete this.cart_list[key];
                    this.saveCart();
                },
                saveCart: function(){
                    localStorage.cart = JSON.stringify(this.cart_list);
                }
            }
        });
        
    </script>
</body>
</html>

<!-- var el_prods = new Vue ({
    el: '#products',
    data: {
        productList:  [
        {
            name: 'product 1',
            price: 40
        },
        {
            name: 'product 2',
            price: 120
        },
        {
            name: 'product 3',
            price: 230
        }]
    },
    methods: {
        addToCart: function(i){
            if(-1 !== el_cart.cart_list.indexOf(i))
            {
                console.log('already exists');
            } else {
                el_cart.cart_list.push(this.productList[i]);
                el_cart.saveCart();
            }
            //console.log(this.productList[i]);
        }
    }
});

var el_cart = new Vue ({
    el: '#cart',
    data: {
        cart_list: JSON.parse(localStorage.cart || '{}'),
        message: 'hello'
    },
    methods: {
        removeFromCart: function(){
            return true;
        },
        saveCart: function(){
            localStorage.cart = JSON.stringify(this.cart_list);
        }
    }
}); -->